<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antailbaxt3r.myrestaurant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="EatUp"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity android:name=".Contact" />
        <activity android:name=".Description" />
        <activity android:name=".Order" />
        <activity android:name=".Rating" />
        <activity
            android:name=".Delivery"
            android:label="@string/title_activity_delivery"
            android:theme="@style/AppTheme" />
        <activity android:name=".Tables" />
        <activity android:name=".Yatik"></activity>
    </application>

</manifest>